.Whoami{
    display: flex;
    align-items: center;
    justify-content: center;
    .Content{
        height: 100vh;
        width: 1200px;
        display: flex;
        justify-content: space-between;

        .left{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: grabbing;

            img{
                width: 300px;
                height: 400px;
                object-fit: cover;
            }
        }
        .right{
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 12px;
            margin-left: 20px;

            .title{
                font-size: 36px;
                color: $main_color;
            }

            .aboutme{
                font-weight: 300;
                font-size: 14px;
            }

            .techstack{
                font-size: 20px;
                color: gray;

                span{
                    color: $main_color;
                    font-size: 26px;
                    margin-left: 20px;
                }

                .techs{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 25px;
                    margin-top: 10px;
                    margin-left: 10px;

                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}